# datetime â€” Basic date and time types

>Category : Data Types  
>Source : https://docs.python.org/3/library/datetime.html  

The datetime module supplies classes for manipulating dates and times in both simple and complex ways. 

While date and time arithmetic is supported, the focus of the implementation is on efficient attribute extraction for output formatting and manipulation.

For related functionality, see also the `time` and `calendar` modules.

In [1]:
from datetime import datetime, date, time

# Datetime objects

A datetime object is a single object **containing all the information from a date object and a time object.**

- Like a date object, datetime assumes the current Gregorian calendar extended in both directions.
- like a time object, datetime assumes there are exactly 3600*24 seconds in every day.

In [2]:
# Using datetime.combine()
d = date(2017, 12, 12)
t = time(20, 30)
datetime.combine(d, t)

datetime.datetime(2017, 12, 12, 20, 30)

In [3]:
# Using datetime.now() 
datetime.now()

datetime.datetime(2017, 12, 12, 21, 1, 58, 479137)

In [4]:
# Using datetime.utcnow()
datetime.utcnow()

datetime.datetime(2017, 12, 12, 13, 1, 58, 485345)

## Datetime Format 
- datetime <--> str
- datetime <--> timetuple
- datetime <--> iso fromat
- datetime <--> timestamp

In [5]:
# Using datetime.strptime()
dt = datetime.strptime("21/11/06 16:30", "%d/%m/%y %H:%M")
dt

datetime.datetime(2006, 11, 21, 16, 30)

In [6]:
# Using datetime.timetuple() to get tuple of all attributes
# year
# month
# day
# hour
# minute
# second
# weekday (0 = Monday)
# number of days since 1st January
# dst - method tzinfo.dst() returned None
tt = dt.timetuple()
for it in tt:   
    print(it)

2006
11
21
16
30
0
1
325
-1

In [7]:
# Date in ISO format
# ISO year
# ISO week
# ISO weekday
ic = dt.isocalendar()
for it in ic:   
    print(it)

2006
47
2

In [8]:
# Formatting datetime
dt.strftime("%A, %d. %B %Y %I:%M%p")

'Tuesday, 21. November 2006 04:30PM'

In [9]:
'The {1} is {0:%d}, the {2} is {0:%B}, the {3} is {0:%I:%M%p}.'.format(dt, "day", "month", "time")

'The day is 21, the month is November, the time is 04:30PM.'

In [10]:
# datetime to timestamp
n = datetime.now()
n.timestamp()

1513083718.536527

In [11]:
import time
time.time()

1513083718.5473285

In [12]:
# timestamp to datetime (local time)
datetime.fromtimestamp(time.time())

datetime.datetime(2017, 12, 12, 21, 1, 58, 557997)

In [13]:
# timestamp to datetime (utc time)
datetime.utcfromtimestamp(time.time())

datetime.datetime(2017, 12, 12, 13, 1, 58, 566370)

## Datetime operation

In [14]:
from datetime import timedelta
now = datetime.now()
now

datetime.datetime(2017, 12, 12, 21, 1, 58, 575415)

In [15]:
now + timedelta(hours=10)

datetime.datetime(2017, 12, 13, 7, 1, 58, 575415)

In [16]:
now - timedelta(days=1)

datetime.datetime(2017, 12, 11, 21, 1, 58, 575415)

In [17]:
now + timedelta(days=2, hours=12)

datetime.datetime(2017, 12, 15, 9, 1, 58, 575415)

## Timezone convert

In [18]:
from datetime import timezone
# getting utc time, set timezone to utc+0:00
utc_dt = datetime.utcnow().replace(tzinfo=timezone.utc)
utc_dt

datetime.datetime(2017, 12, 12, 13, 1, 58, 608927, tzinfo=datetime.timezone.utc)

In [19]:
# utc timt -> beijing time 
bj_dt = utc_dt.astimezone(timezone(timedelta(hours=8)))
bj_dt

datetime.datetime(2017, 12, 12, 21, 1, 58, 608927, tzinfo=datetime.timezone(datetime.timedelta(0, 28800)))

In [20]:
# utc timt -> tokyo time 
tokyo_dt = utc_dt.astimezone(timezone(timedelta(hours=9)))
tokyo_dt

datetime.datetime(2017, 12, 12, 22, 1, 58, 608927, tzinfo=datetime.timezone(datetime.timedelta(0, 32400)))

In [21]:
# beijing timt -> tokyo time 
tokyo_dt2 = bj_dt.astimezone(timezone(timedelta(hours=9)))
tokyo_dt2

datetime.datetime(2017, 12, 12, 22, 1, 58, 608927, tzinfo=datetime.timezone(datetime.timedelta(0, 32400)))